* {     
    padding: 5px;
    margin: 25px;
    box-sizing: border-box;




}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.parent {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

h1 {

    background-image: url(https://i1.sndcdn.com/avatars-000518178240-oj92yt-t500x500.jpg);
    background-repeat: no-repeat;
    width: 400px;
    text-align: center;
    color: purple;
    text-shadow: 20px 20px 20px;
    display: flex;

}